@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&family=Pacifico&family=Russo+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

header > nav > ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

nav > ul > li {
    font-size: 20px;
}

nav > ul > li > a {
    color: #000;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FCBAD3;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-img {
    max-width: 70px;
    transition: .3s;
}

.logo-img:hover {
    transform: scale(1.1);
}

.banner {
    margin: 10vh auto auto auto;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.banner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
}

.banner-title span {
    background-color: #FCBAD3;
    color: #000;
    padding: 0 10px 0px 10px;
    font-family: 'Pacifico', cursive;
}

.banner-subtitle {
    font-size: 27px;
    font-family: 'Russo One', sans-serif;
    margin-top: 1rem;
}
.banner-desc {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    color: #666;
}


.banner-img img {
    max-width: 250px;
}

.mouse-scroll {
    margin-top: 3rem;
}

.about-me {
    text-align: center;
    margin: auto;
}

.about-me-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}


.about-me-text {
    color: #666;
    font-family: 'Figtree', sans-serif;
    max-width: 450px;
    font-size: 18px;
    margin: 1rem 0 3rem 0;
}

.resume {
    background-color: #EB991E;
    color: #000;
    padding: 1rem;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    border-radius: 7px;
    transition: .3s;
}

.resume:hover {
    background-color: #FCBAD3;
}

.social {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.social-link {
    transition: .3s;
}

.social-link:hover {
    transform: scale(1.2);
}


.mouse-scroll{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.mouse-scroll {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

.about-me-section {
    background-color: #F6F4EB;
    padding: 2rem 1rem 5rem 1rem;
    margin: 1rem;
}
.about-box {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
    height: 100%;
    margin: 2rem 0 2rem 0;
    max-width: 600px;
    width: 100%;
}

.skills-title {
    font-size: 34px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    padding-top: 2rem;
}

.skills-desc {
    font-size: 18px;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    color: #666;
}

.skills-subtitle {
    font-size: 22px;
    font-weight: 600;
}